.history-filters {
  padding: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: hsl(var(--gray-700));
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  font-size: 0.875rem;
  padding-right: 2.5rem;
}


.transaction-list {
  padding: 0 1rem;
  border-top: 1px solid hsl(var(--border));
  overflow-y: scroll;
}

.transaction-item {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  border-bottom: 1px solid hsl(var(--border));
}

.transaction-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.coin-sent .transaction-icon {
  color: #ef4444;
  background: #fee2e2;
}

.coin-received .transaction-icon {
  color: #10b981;
  background: #d1fae5;
}

.transaction-details {
  flex: 1;
  min-width: 0;
}

.transaction-type {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.coin-sent .transaction-type {
  color: #ef4444;
}

.coin-received .transaction-type {
  color: #10b981;
}

.transaction-address {
  color: hsl(var(--gray-500));
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction-memo {
  color: hsl(var(--gray-500));
  font-style: italic;
  font-size: 0.875rem;
}

.transaction-amount {
  text-align: right;
  min-width: fit-content;
  margin-left: 1rem;
}

.amount {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.date {
  color: hsl(var(--gray-500));
  font-size: 0.875rem;
}